<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<div>
  <div
  id="carouselExample"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <h1 style="text-align: center; margin-bottom: 10px">
    الاصناف والاقسام
  </h1>
  <br /><br /><br />
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex">
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="First slide"
            class="card-img2"
          />
          <h6 style="text-align: center">البقلاوة التركية</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Second slide"
            class="card-img2"
          />
          <h6 style="text-align: center">المكسرات</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Third slide"
            class="card-img2"
          />
          <h6 style="text-align: center">المجففات</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Third slide"
            class="card-img2"
          />
          <h6 style="text-align: center">المجففات</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Third slide"
            class="card-img2"
          />
          <h6 style="text-align: center">المجففات</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Third slide"
            class="card-img2"
          />
          <h6 style="text-align: center">المجففات</h6>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="d-flex">
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Fourth slide"
            class="card-img2"
          />
          <h6 style="text-align: center">المكسرات</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Fourth slide"
            class="card-img2"
          />
          <h6 style="text-align: center">المكسرات</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Fifth slide"
            class="card-img2"
          />
          <h6 style="text-align: center">الحلوي التركية المشهورة</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Sixth slide"
            class="card-img2"
          />
          <h6 style="text-align: center">مكملات الفطور</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Third slide"
            class="card-img2"
          />
          <h6 style="text-align: center">المجففات</h6>
        </div>
        <div class="col-md-2">
          <img
            src="/assets/beq.png"
            alt="Third slide"
            class="card-img2"
          />
          <h6 style="text-align: center">المجففات</h6>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
</body>
</html>
