body{
    overflow-x: hidden;
}

#div-home-img img{
 position: absolute;
  top: 0;
  right: -100%; /* Initially position the image outside the container */
  animation: slide-in 1s ease-in-out forwards;
}
@keyframes slide-in {
    0% {
      right: -100%; /* Start position outside the container */
    }
    100% {
      right: 0; /* End position at the right edge of the container */
    }
  }
.full-width-image {
    background-color: khaki;
    background-size: cover;
    background-position: center;
    height: 50vh; /* Adjust the height as needed */
    
  }
  
  .carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px; /* Adjust the height as needed */
  }
  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  
  
  .home-img{
    border: 1px solid rosybrown;
    border-radius: 40px;
    width: 90%;
    margin-top: 25px;
    margin-right: 30px;
  }

.main
{
    background-image: url("/assets/chocolate.jpg");
    color: white;

}

.sweet{
    width: 100%;
}

.socialmedia
{
    width: 3%;
}


img
{
    width: 95%;
}


.cardimage{
    width: 100%;
}

.sale
{
    background-color: #ff9604;
    opacity: 0.5;
    color: rgb(255, 0, 0);
}


.remaining-div{
    background-color:khaki; 
    text-align: center;
     color: crimson;
     border: 1px solid #ff9604;
     border-radius: 8px;
     width: 150px;
}

.card {
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }

// color: #e98901;
// color: #fdb417;


/////////////////////////////////////////////////////////
